*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 72px;
    animation-iteration-count: infinite;
    animation-name: rainbow;
    animation-timing-function: ease-in-out;
    animation-duration: 12.58s;

}

.logo{
    padding: 0px 20px;
}

.logo img{
    width: 60px;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: black;
}

#container {
    margin: 100px auto;
    width: 688px;
    color: white;
}

#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.808);
    border: 1px solid #f9f9f9;
    animation-iteration-count: infinite;
    animation-name: rainbow;
    animation-timing-function: ease-in-out;
    animation-duration: 12.58s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

@keyframes rainbow {
    0% { box-shadow: 0 2px 5px 2px rgba(255,0,0,0.75); }
    7.14% { box-shadow: 0 2px 5px 2px rgba(255,66,0,0.75); }
    14.28% { box-shadow: 0 2px 5px 2px rgba(255,127,0,0.75); }
    21.42% { box-shadow: 0 2px 5px 2px rgba(255,175,0,0.75); }
    28.56% { box-shadow: 0 2px 5px 2px rgba(255,255,0,0.75); }
    35.7% { box-shadow: 0 2px 5px 2px rgba(127,255,0,0.75); }
    42.84% { box-shadow: 0 2px 5px 2px rgba(0,255,0,0.75); }
    49.98% { box-shadow: 0 2px 5px 2px rgba(0,255,127,0.75); }
    57.12% { box-shadow: 0 2px 5px 2px rgba(0,255,255,0.75); }
    64.26% { box-shadow: 0 2px 5px 2px rgba(0,127,255,0.75); }
    71.4% { box-shadow: 0 2px 5px 2px rgba(0,0,255,0.75); }
    78.54% { box-shadow: 0 2px 5px 2px rgba(127,0,255,0.75); }
    85.68% { box-shadow: 0 2px 5px 2px rgba(255,0,255,0.75); }
    100% { box-shadow: 0 2px 5px 2px rgba(255,0,127,0.75); }
}

.capslock, .tab, .left-shift {
    clear: left;
}

#keyboard .tab, #keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 77px;
}
#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 109px;
}
                
.lastitem {
    margin-right: 0;
}

.uppercase {
    text-transform: uppercase;
}
                
#keyboard .space {
    clear: left;
    width: 681px;
}
                
.on {
    display: none;
}
                
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
        